$font-color: #fff;
$gametypebutton-color: #a5bab2;
$activegametype-color: #fff;
$button-color: #000;
$bordercolor: #5a7b5f;
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadowcolor: #000;
$text-shadow-color: #000;
$fadecolor: rgba(255, 255, 255, 0.6);
